body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

a:hover {
    color: cyan;
}