body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

a:hover {
    color: cyan;
}